<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="more">
                    <h3>Qui sommes nous ?</h3>
                    <div class="liner-end"></div>
                    <p>
                        Voyez ce jeu exquis wallon, de graphie en kit mais bref. Portez ce vieux whisky au juge blond
                        qui fume sur son île intérieure, à côté de l'alcôve ovoïde, où les bûches se consument dans
                        l'âtre, ce qui lui permet de penser à la cænogenèse.
                    </p>
                </div>
            </div>
            <div class="col-md-3 offset-md-3 mx-auto">
                <div class="more">
                    <h4>Voir aussi</h4>
                    <div class="liner-end"></div>
                    <ul id="tags">
                        <li>
                            <span><a href="#">Console</a></span>
                        </li>
                        <li>
                            <span><a href="#">Switch</a></span>
                        </li>
                        <li>
                            <span><a href="#">Disque dur</a></span>
                        </li>
                        <li>
                            <span><a href="#">Pc</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="more">
                    <h3>Contactez-nous</h3>
                    <div class="liner-end"></div>
                    <ul>
                        <li>Adresse: 22 rue saint-augustin paris 75002</li>
                        <li>Tel: 02.32.54.21.20</li>
                        <li>E-mail:adinfo@contact.fr</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>&copy; BY AD'INFO</p>
    </div>
</footer>