 <nav class="navbar navbar-expand-md  navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><span id="logo">AD'I</span>NFO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#monMenu"
                aria-controls="monMenu" aria-label="Menu pour mobile">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="monMenu">
                <div class="navbar-nav ml-auto">
                    <a class="navbar-item nav-link ad-drop" href="/annonces/dpform">Déposer une annonce</a>
                    <a class="navbar-item nav-link" href="/Mon-profil">Mon profil</a>
                    <a class="navbar-item nav-link" href="#connect" data-toggle="modal">Se connecter</a>
                </div>
            </div>
        </div>
    </nav>
    {{> mdlconnection}}