<link rel="stylesheet" href="./ressources/css/Users.css">
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-2 mx-auto">
                    <div class="card mb-3 bg-profil">
                        <img style="height: 100px;" src="./ressources/icons/user.svg" class="card-img-top" alt="...">
                        <div style="text-align: center" class="card-body">
                            <h5 class="card-title">Phlippe Yim</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-6 mx-auto">
                    <div class="card card-edit-users">
                        <form>
                            <h5>Mes info</h5>
                            <a href="/password-edit">Modifer mon mot de passe</a>
                            <hr>
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" placeholder="Seagal">
                            </div>
                            <div class="form-group">
                                <label>Prénom</label>
                                <input type="text" class="form-control" placeholder="Steven">
                            </div>
                            <div class="form-group">
                                <label>Adresse email</label>
                                <input type="email" class="form-control" placeholder="Steven.Seagal@.theBest">
                            </div>
                            <div class="form-group">
                                <label>Centre</label>
                                <select class="form-control">
                                    <option>La roche-sur yon</option>
                                    <option>Les sables d'olonne</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">

                                <h5>Confirmer les modifications</h5>
                                <hr>
                                <input type="password" class="form-control">

                            </div>
                            <div class="float-right">
                                <a href="/Mon-profil" class="btn btn-danger">Annuler</a>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>



    </section>
</main>