 <link rel="stylesheet" href="/ressources/css/Users.css">
{{> navbar}}
<main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-2 mx-auto">
                        <div class="card mb-3 bg-profil">
                            <a href="#"> <img style="height: 100px;" src="./ressources/icons/user.svg"
                                    class="card-img-top" alt="..."></a>
                            <div style="text-align: center" class="card-body">
                                <h5 class="card-title">Phlippe Yim</h5>
                                <a href="/modif-profil" style="float: right;" class="btn btn-info">Modifier mon
                                    profil</a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-2 mx-auto">
                        <div class="d-block d-md-flex listing">
                            <span class="img d-block"
                                style="background-image: url('./ressources/img/img_2.jpg')"></span>
                            <div class="lh-content">
                                <a href="#trash">
                                    <img id="trash-item" src="./ressources/icons/trash.svg">
                                </a>
                                
                                <h2><a class="ads" href="/Annonce"> Macbook pro</a></h2>
                                
                                <span class="profil-pirce">
                                    <em>1050 €</em>
                                </span>
                                <br>
                                <em>Vente</em>
                                <br>
                                <em>Aujourd'hui à 01h01</em>
                                <address>Arinfo la roche</address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-10 offset-md-2 mx-auto">
                            <div class="d-block d-md-flex listing">
                                <span class="img d-block"
                                    style="background-image: url('./ressources/img/img_2.jpg')"></span>
                                <div class="lh-content">
                                    <a href="#trash">
                                        <img id="trash-item" src="./ressources/icons/trash.svg">
                                    </a>
                                    
                                    <h2><a class="ads" href="ad.html"> Macbook pro</a></h2>
                                    
                                    <span class="profil-pirce">
                                        <em>1050 €</em>
                                    </span>
                                    <br>
                                    <em>Vente</em>
                                    <br>
                                    <em>Aujourd'hui à 01h01</em>
                                    <address>Arinfo la roche</address>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>