.card-ad-users{
    text-align: center;
}
.input-price{
    text-align:center;
 
}
#send-ad{
   background-color: #00a651;
    border-radius: 0px!important;
    border: none!important;
    
}
.upload img{
    height: 60px;
}
