/* @media(max-width: 375px) {
    .more {
        display: none;
    }
}

@media(max-width: 734px) {
    .more {
        display: none;
    }
}
@media(max-width: 736px) {
    .more {
        display: none;
    }
} */

